@model UpdatePostDTO

@{
	ViewData["Title"] = "Edit Post";
}

<div class="col-md-12">
	<div class="card card-primary">
		<div class="card-header">
			<h3 class="card-title">Update Post</h3>
		</div>
		<form asp-action="Edit" method="post" enctype="multipart/form-data">
			<input type="hidden" asp-for="ImagePath" />
			<input type="hidden" asp-for="CreateDate" />
			<div class="card-body">
				<span asp-validation-for="Title" class="text-danger"></span>
				<div class="form-group">
					<label asp-for="Title"></label>
					<input asp-for="Title" class="form-control" placeholder="Title" />
				</div>
				<span asp-validation-for="Content" class="text-danger"></span>
				<div class="form-group">
					<label asp-for="Content"></label>
					<textarea asp-for="Content" class="form-control" placeholder="Enter Content"></textarea>
				</div>
				<span asp-validation-for="UploadPath" class="text-danger"></span>
				<div class="form-group">
					<label asp-for="UploadPath">Photo</label>
					<input asp-for="UploadPath" type="file" class="form-control" placeholder="Photo">
				</div>
				<span asp-validation-for="AuthorId" class="text-danger"></span>
				<div class="form-group">
					<label asp-for="AuthorId">Author</label>
					<select asp-for="AuthorId" class="custom-select" asp-items="@(new SelectList(Model.Authors,"Id","Fullname"))">
					</select>
				</div>
				<span asp-validation-for="GenreId" class="text-danger"></span>
				<div class="form-group">
					<label asp-for="GenreId">Genre</label>
					<select asp-for="GenreId" class="custom-select" asp-items="@(new SelectList(Model.Genres,"Id","Name"))">
					</select>
				</div>
			</div>
			<div class="card-footer">
				<a asp-action="Index" class="btn btn-primary btn-sm float-end mr-2">Back to Post List</a>
				<input type="submit" class="btn btn-success btn-sm float-end mr-2" value="Create Post" />
			</div>
		</form>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}