@model UpdateProfileDTO

@{
    ViewData["Title"] = "View Profile";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Account Details</h3>
        </div>
        <div class="card-body">
            <div class="row">
                @if (Model is not null)
                {
                    <div class="col-md-4">

                        <img src="@Model.ImagePath" width="300" />
                    </div>
                    <div class="col-md-8">
                        <table class="table table-hover table-bordered">
                            <tbody>
                                <tr>
                                    <th>Name</th>
                                    <td>@Model.UserName</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>@Model.Email</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
        <div class="card-footer">
            <a asp-controller="" asp-action="Index" class="btn btn-primary btn-sm float-end mr-2">Back to Home Page</a>
        </div>
    </div>
</div>

