@model List<LikeVM>
@{
    ViewData["Title"] = "Like List";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">List of Like</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered" id="likeTable">
                <thead>
                    <tr>
                        <th>Post Title</th>
                        <th>Username</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model is not null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PostTitle</td>
                                <td>@item.AppUserName</td>
                                <td>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Post Title</th>
                        <th>Username</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <a asp-action="Create" class="btn btn-block btn-dark">Create New Like</a>
        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
}

@section Scripts{
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>let table = new DataTable('#likeTable')</script>
}